Stream [Legacy] [Carpenter]

About 2117 RFCs are classified as Stream [Legacy]. While
this may be entirely appropriate for most of them, some of
these are evidently errors (examples below).

The policy question is whether the various streams should be
able to claim specific RFCs to be reclassified. A policy
is also needed to evaluate such claims. For example, it does
not follow that standards track documents dated prior to the
existence of the IETF can be claimed by the IETF stream.

Example: RFC 2101  is classified as Stream: [Legacy]. However,
the authors attributed themselves to "IAB" on the first page, the 
Acknowledgments state that "This document was developed in the IAB."
and section 5 includes the words "The IAB feels that..."

Example: RFC 1900, again see the first page header, the Abstract,
and the Acknowledgments.

Example: RFC 1984.

Full list of Legacy:
https://www.rfc-editor.org/search/rfc_search_detail.php?stream_name=Legacy

Stream managers should be able to claim specific RFCs for their own streams. This should be done in the RSAB so that there is agreement among the stream managers.

The policy question of "should a stream manager be able to change the stream of an RFC" should be easily answered as "yes, if it is done with the agreement of the rest of the stream managers".

+1, with the proviso that stream managers need to follow processes and policies of their own streams. Perhaps that's implied, but it should be explicit.

For background: The source of an RFC is typically determined by who approved the document, as listed in the document approval message.  The source of an RFC doesn't change over time.

Legacy means "The RFC was published before a formal source (e.g., working group or stream) existed or was recorded." (from https://www.rfc-editor.org/source-definitions/)

(Side note: For the purpose of errata review, a Legacy RFC can have an "area assignment" to an IETF area. There has been a suggestion to add a "stream assignment".)

Regarding the source of the examples:
- RFC 2101 has been corrected from Legacy to IAB, based on the approval mail sent to the RFC Editor (1996-11-08).
- RFC 1984 would be corrected from Legacy to IAB, based on the approval mail sent to the RFC Editor (1996-08-05), but its [status was changed to BCP](https://datatracker.ietf.org/doc/status-change-rfc1984-to-best-current-practice/), so it remains Legacy unless we hear further. Related issue: #4
- RFC 1900 - No approval mail found. No change.

Regarding the list of Legacy RFCs, RPC plans to audit the source data of the more recent RFCs marked Legacy (relying on document approval messages).